@charset "UTF-8";
:root {
  --backgroundColor: #171717;
  --indexBlue: #05296E;
  --lightBlue: #1144AA;
  --darkenBlue: #29467F;
  --yellow: #FAFF00;
  --yelloeHeader: #FECD09;
  --sidebarColor: #0E0E0E;
  --white: #fff;
  --black: #000;
  --sidebarWidth: 33rem;
}

.light {
  --backgroundColor: #D4DCF8;
  --sidebarColor: #1648a3;
}
.light .logo__img {
  border: 1px solid #000;
}
.light .wrapper._active .header .nav__list::before {
  height: 1px;
  background-color: #000;
}
.light .wrapper._active .header .nav__link:hover {
  color: #000;
}
.light .header__switch {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.light .header__switch div {
  background-color: #FECD09;
}
.light .header__switch::before {
  content: "Day";
  color: #FECD09;
}
@media (max-width: 650px) {
  .light .header__switch div::before {
    content: "";
  }
  .light .header__switch div::after {
    content: "Day";
  }
  .light .header__switch div::after {
    display: none;
  }
  .light .header__switch div::before {
    display: none;
  }
}
.light .aside__text::after {
  background-color: #000000;
}
.light .aside__text::before {
  background-color: #000000;
}
.light .offer__title {
  color: #050f94;
}
.light .offer__subtitle {
  color: #000;
}
.light .title {
  color: #000;
}
.light .paragraph {
  color: var(--black);
}

.section {
  max-width: 1460px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 1.5rem;
  -webkit-box-shadow: -6px -6px 10px rgba(0, 0, 0, 0.25), 6px 6px 10px rgba(0, 0, 0, 0.25);
          box-shadow: -6px -6px 10px rgba(0, 0, 0, 0.25), 6px 6px 10px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.section:not(:last-of-type) {
  margin-bottom: 6.5rem;
}
.section:hover {
  background-color: rgba(9, 9, 10, 0.5);
}

@media (max-width: 650px) {
  #offer {
    margin-bottom: 12rem;
  }
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat);
}
@font-face {
  font-family: "Arial";
  src: url(../fonts/Arial);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto);
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
a:hover {
  cursor: pointer;
}

ul, ol, li {
  list-style: none;
}

img {
  height: auto;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

input, textarea, button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-weight: 400;
  color: black;
  background-color: var(--backgroundColor);
  font-family: "Montserrat";
}
html .wrapper._active,
body .wrapper._active {
  background-color: var(--sidebarColor);
}

body * {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  overflow-x: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.wrapper._active {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/* Подключение шрифтов &display=swap&subject=syrillic-ext */
/* &display=swap —- Улучшает показатели (контролит порядок загрузки шрифтов), запись в конце строки, подключающей шрифты */
/* &subsect=syrillic-ext —— Для сайтов на кирилице */
.header {
  width: calc(100vw - 33rem);
  background-color: var(--indexBlue);
  z-index: 20;
  position: fixed;
  right: 0;
}
@media (max-width: 1300px) {
  .header {
    width: 100%;
  }
}
.header__content {
  margin-left: clamp(1rem, -44rem + 37.5vw, 8.5rem);
  max-width: 1890px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 5rem;
}
.header__switch {
  position: relative;
  width: 5rem;
  height: 3rem;
  border-radius: 5rem;
  background-color: #D9D9D9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 114px;
}
@media (max-width: 1400px) {
  .header__switch {
    margin-right: 2rem;
  }
}
.header__switch div {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--black);
}
.header__switch::before {
  position: absolute;
  content: "Night";
  right: 7rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: var(--white);
}

.subnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  padding: 2rem 2.6rem 1.8rem 2.6rem;
  min-width: 22rem;
  border-radius: 0px 0px 1.2rem 1.2rem;
  background-color: var(--lightBlue);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.subnav li a:not(:last-of-type) {
  margin-bottom: 1.6rem;
}
.subnav__link {
  display: block;
  color: var(--white);
  font-family: "Arial";
  font-size: clamp(1.4rem, -1.112rem + 2vw, 1.8rem);
  margin-bottom: 1.6rem;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__item {
  position: relative;
  -webkit-transition: 0.2s color linear;
  transition: 0.2s color linear;
}
.nav__item .subnav__link {
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.nav__item .subnav__link:hover {
  color: var(--black);
}
.nav__item:hover {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.nav__item:hover .subnav {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: var(--black);
  top: 5rem;
  opacity: 1;
  visibility: visible;
}
.nav__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  padding: 0 clamp(1.8rem, -3rem + 4vw, 2.6rem);
  font-size: clamp(1.4rem, -1.112rem + 2vw, 1.8rem);
  font-family: "Roboto";
  text-transform: uppercase;
  color: var(--white);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
@media (max-width: 800px) {
  .nav__link {
    font-size: clamp(1.2rem, 0.3328rem + 1.33vw, 1.4rem);
    padding: 0 clamp(1.4rem, -0.3328rem + 2.67vw, 1.8rem);
  }
}
.nav__link.has-subnav {
  padding-right: 30px;
  position: relative;
}
.nav__link.has-subnav:hover::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.nav__link.has-subnav::after {
  position: absolute;
  right: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  content: url(../images/logo/polygon.svg);
}
@media (max-width: 800px) {
  .nav__link.has-subnav::after {
    right: 8px;
    -webkit-transform: scale(0.85);
        -ms-transform: scale(0.85);
            transform: scale(0.85);
  }
}
.nav__link:hover {
  background-color: var(--lightBlue);
}

.window {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 6.4rem;
  left: 0;
  min-width: 59.4rem;
  padding: 3.2rem;
  background-color: var(--lightBlue);
  border-radius: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1460px) {
  .window {
    min-width: 34rem;
    max-width: 36rem;
  }
}
.window__back {
  position: absolute;
  top: 1.3rem;
  right: 2rem;
  width: 2.7rem;
  height: 2.7rem;
}
.window__back:hover {
  cursor: pointer;
}
@media (max-width: 1460px) {
  .window__back {
    width: 2.2rem;
    height: 2.2rem;
  }
}
.window__title {
  color: var(--white);
  font-size: 3.2rem;
  line-height: 1.2;
  font-family: "Roboto";
  margin-bottom: 3.6rem;
}
.window__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.window__list li :hover {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}
.window__list li:not(:last-of-type) {
  margin-right: 4.8rem;
}
.window._active {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 650px) {
  #has-window {
    display: none;
  }
}
.header__burger {
  display: none;
  visibility: hidden;
  margin-right: 2rem;
}
@media (max-width: 650px) {
  .header__burger {
    display: block;
    visibility: visible;
    position: relative;
    width: 40px;
    height: 34px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .header__burger span, .header__burger::after, .header__burger::before {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__burger span {
    top: 50%;
    left: 0;
  }
  .header__burger::after {
    content: "";
    top: 0;
    left: 0;
  }
  .header__burger::before {
    content: "";
    bottom: 0;
    left: 0;
  }
  .header__burger._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .header__burger._active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .header__burger._active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

@media (max-width: 650px) {
  .nav {
    display: none;
  }
  .wrapper._active .header {
    width: 100%;
    z-index: 99;
    position: relative;
  }
  .wrapper._active .header__content {
    position: relative;
  }
  .wrapper._active .header__switch::before {
    content: "";
  }
  .wrapper._active .header .subnav {
    top: 5rem;
  }
  .wrapper._active .header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 44rem;
    width: calc(100vw - 2rem);
  }
  .wrapper._active .header .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    position: relative;
  }
  .wrapper._active .header .nav__list::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #05296E;
    top: -4rem;
  }
  .wrapper._active .header .nav__item {
    margin-bottom: 2rem;
  }
  .wrapper._active .header .nav__item:active {
    -webkit-transition: 0.3s all linear;
    transition: 0.3s all linear;
  }
  .wrapper._active .header .nav__item li {
    margin-bottom: 1.8rem;
  }
  .wrapper._active .header .nav__item .subnav__link {
    display: inline;
  }
  .wrapper._active .header .nav__item .subnav__link:hover {
    color: var(--lightBlue);
  }
  .wrapper._active .header .nav__item:hover .subnav {
    top: 5rem;
  }
  .wrapper._active .header .nav__link {
    padding: 0;
    margin: 0;
    height: auto;
    display: inline;
    font-size: 1.8rem;
  }
  .wrapper._active .header .nav__link:hover {
    background-color: transparent;
    color: var(--lightBlue);
  }
  .wrapper._active .header .nav__link.has-subnav::after {
    position: absolute;
    right: -2rem;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    content: url(../images/logo/ellips.svg);
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
  .wrapper._active .subnav {
    font-family: "Roboto";
    background-color: transparent;
    padding: 0;
    left: 4rem;
  }
}
.aside {
  width: var(--sidebarWidth);
  min-height: 100vh;
  background-color: var(--sidebarColor);
  position: fixed;
  top: 0;
  -webkit-box-shadow: 6px 0 4px rgba(0, 0, 0, 0.5);
          box-shadow: 6px 0 4px rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.aside__content {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.aside__text {
  position: relative;
  margin: 7rem 1.5rem;
  color: var(--white);
  line-height: 1.2;
  text-align: center;
}
.aside__text::after, .aside__text::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #3137C9;
}
.aside__text::after {
  bottom: -1.5rem;
  left: 0;
}
.aside__text::before {
  top: -1.5rem;
  left: 0;
}
.aside__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.aside__link:not(:last-of-type) {
  margin-right: 3.3rem;
}
.aside__link :hover {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}
@media (max-width: 1300px) {
  .aside {
    opacity: 0;
    visibility: hidden;
  }
}

.head {
  position: relative;
  background-color: #3137C9;
  height: 230px;
}
.head__vector {
  position: absolute;
}
.logo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -17rem;
}
.logo__img {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #3137C9;
}
.logo__img img {
  max-width: 100%;
}
.logo__title {
  position: absolute;
  bottom: -2rem;
  left: 0;
  padding: 1.2rem 2.4rem;
  background-color: rgba(217, 217, 217, 0.3);
}
.logo__subtitle {
  position: absolute;
  bottom: -6rem;
  right: 0;
  padding: 1.2rem 0.4rem;
  background-color: rgba(217, 217, 217, 0.3);
  color: #ffffff;
}

@media (max-width: 650px) {
  .wrapper._active .aside {
    width: 100%;
    opacity: 1;
    visibility: visible;
    z-index: 50;
    position: relative;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .wrapper._active .aside__text {
    display: none;
  }
  .wrapper._active .head {
    width: 100%;
  }
  .wrapper._active .head__vector {
    display: none;
  }
  .wrapper._active .head__bg {
    width: 100%;
    height: 28rem;
    background-color: #3137C9;
    overflow: hidden;
  }
  .wrapper._active .head__bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .wrapper._active .logo {
    position: relative;
    width: 29rem;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 14rem;
    margin-left: 1rem;
  }
  .wrapper._active .logo__img {
    width: 9rem;
    height: 9rem;
  }
  .wrapper._active .logo__title, .wrapper._active .logo__subtitle {
    position: absolute;
    display: inline;
    background-color: transparent;
    padding: 0;
    margin: 0;
    left: 12rem;
    font-family: "Roboto";
  }
  .wrapper._active .logo__title {
    top: 3rem;
    color: var(--white);
    font-size: 1.8rem;
  }
  .wrapper._active .logo__subtitle {
    bottom: 0.5rem;
    color: #c4b9b9;
    font-size: 1.5rem;
  }
}
.main {
  margin-top: 5rem;
  max-width: calc(100vw - 33rem);
  margin-left: auto;
  min-height: calc(100vh - 5rem);
  background-color: var(--backgroundColor);
  padding: 6.5rem;
}
@media (max-width: 1499px) {
  .main {
    padding: 6.5rem 2rem;
  }
}
@media (max-width: 650px) {
  .main {
    padding: 2rem 1rem;
  }
}
.main__content {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1300px) {
  .main {
    max-width: 100%;
  }
}
@media (max-width: 650px) {
  .wrapper._active .main {
    opacity: 0;
    visibility: hidden;
  }
}
.section-1 {
  padding: 2.7rem 2rem;
}
.section-1 p:not(:last-of-type) {
  margin-bottom: 3.2rem;
}

.title {
  color: #4575D4;
  font-size: clamp(2.4rem, 0.96rem + 1.6vw, 3.2rem);
  text-align: center;
  margin-bottom: 3.8rem;
}

.paragraph {
  color: var(--white);
  line-height: 1.2;
  font-size: 1.8rem;
}

.img {
  max-width: 57rem;
  margin: 4rem auto;
}

@media (max-width: 650px) {
  .wrapper._active .main {
    opacity: 0;
    visibility: hidden;
  }
}
.offer {
  padding: 2.8rem 4.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 800px) {
  .offer {
    padding: 1.5rem;
  }
}
.offer__text {
  margin-right: 1rem;
  max-width: 56.74%;
}
.offer__title {
  font-size: 2.6rem;
  font-family: "Arial";
  color: #4575D4;
  line-height: 120%;
  margin-bottom: 4rem;
}
.offer__subtitle {
  color: var(--white);
  font-size: 2rem;
  line-height: 120%;
  font-weight: 400;
  font-family: "Montserrat";
}
.offer__subtitle:not(:last-of-type) {
  margin-bottom: 2.2rem;
}
.offer__img {
  width: auto;
  border-radius: 2rem;
  overflow: hidden;
  background-color: #4575D4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.offer__img picture {
  height: 100%;
}
.offer__img img {
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1400px) {
  .offer__title {
    font-size: clamp(2rem, -1.6rem + 3vw, 2.6rem);
  }
  .offer__subtitle {
    font-size: clamp(1.6rem, -0.8rem + 2vw, 2rem);
  }
  .offer__img {
    height: 300px;
  }
  .offer__img img {
    width: auto;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 650px) {
  .offer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 7rem;
  }
  .offer__text {
    margin-top: 2.4rem;
    max-width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    position: relative;
  }
  .offer__title {
    max-width: 100%;
    width: 100%;
    text-align: center;
    position: absolute;
    top: -37.5rem;
    font-size: clamp(1.8rem, 1.48rem + 0.8vw, 2rem);
  }
  .offer__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .offer__img picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .offer__img source {
    -o-object-fit: fill;
       object-fit: fill;
  }
  .offer__img img {
    height: auto;
  }
}
@media (max-width: 650px) and (max-width: 650px) {
  .offer__img img {
    -o-object-fit: fill;
       object-fit: fill;
  }
}
.sld {
  position: relative;
}
.sld h2 {
  display: block;
  position: absolute;
  top: 27px;
  left: 20%;
  -webkit-transform: translateX(-25%);
      -ms-transform: translateX(-25%);
          transform: translateX(-25%);
  color: var(--lightBlue);
  font-size: 1.8rem;
  font-family: "Arial";
}
@media (max-width: 650px) {
  .sld h2 {
    width: 100%;
  }
  .sld h2::after, .sld h2::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #3e5c97;
  }
  .sld h2::after {
    top: -1.5rem;
    left: 0;
  }
  .sld h2::before {
    bottom: -1.5rem;
    left: 0;
  }
}
@media (max-width: 800px) {
  .sld h2 {
    top: 12px;
  }
}
@media (max-width: 650px) {
  .sld h2 {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    top: -7rem;
    text-align: center;
  }
}
@media (max-width: 1300px) {
  .sld {
    padding: 0 4.8rem;
  }
}
@media (max-width: 800px) {
  .sld {
    padding: 0 1.5rem;
  }
}

.slider {
  position: relative;
  padding: 6rem 0rem;
  max-width: clamp(63.5rem, -58rem + 101.25vw, 136.4rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__wrapper {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media (max-width: 650px) {
  .slider__wrapper {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-rows: auto 10px auto;
    grid-template-rows: repeat(2, auto);
    -ms-grid-columns: 51.7% 0px 51.7% 0px 51.7% 0px 51.7%;
    grid-template-columns: repeat(4, 51.7%);
    height: auto;
    -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    place-items: center;
    gap: 10px 0px;
    margin: 0 auto;
    width: 97%;
  }
  .slider__wrapper > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .slider__wrapper > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .slider__wrapper > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .slider__wrapper > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
  }
  .slider__wrapper > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .slider__wrapper > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .slider__wrapper > *:nth-child(7) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }
  .slider__wrapper > *:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-column: 7;
  }
}
.slider .swiper__wrapper {
  place-items: center;
}
@media (max-width: 1300px) {
  .slider {
    max-width: 100%;
  }
}
@media (max-width: 800px) {
  .slider {
    padding: 4rem 0rem 3rem;
  }
}
.slide {
  max-width: 92%;
  background-color: rgb(69, 121, 219);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2rem;
}
@media (max-width: 649px) {
  .slide {
    border-radius: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.slide:hover {
  -webkit-transition: all 5s linear;
  transition: all 5s linear;
}
.slide:hover img {
  -webkit-transition: all 8s linear;
  transition: all 8s linear;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.slide img {
  width: 100%;
}
.slide__description {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: rgba(17, 68, 170, 0.5);
  height: 4.2rem;
}
@media (max-width: 1399px) {
  .slide__description {
    height: 3rem;
  }
}
@media (max-width: 650px) {
  .slide__description {
    display: none;
  }
}
.slide__description p:nth-child(1) {
  font-size: 1.6rem;
  color: #000000;
  margin-left: 2rem;
  margin-right: 1.4rem;
  position: relative;
}
@media (max-width: 1399px) {
  .slide__description p:nth-child(1) {
    font-size: 1.4rem;
  }
}
.slide__description p:nth-child(1)::after {
  position: absolute;
  content: "";
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -1.4rem;
  width: 2px;
  height: 3.2rem;
  background-color: var(--lightBlue);
}
@media (max-width: 1399px) {
  .slide__description p:nth-child(1)::after {
    height: 2.4rem;
    right: -1rem;
  }
}
.slide__description p:nth-child(3) {
  font-size: 1.2rem;
  color: var(--white);
  font-family: "Arial";
  margin-left: 1.4rem;
  letter-spacing: 1px;
  position: relative;
}
@media (max-width: 1399px) {
  .slide__description p:nth-child(3) {
    font-size: 1rem;
  }
}
.slide__description p:nth-child(3)::after {
  position: absolute;
  content: "";
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -1.4rem;
  width: 2px;
  height: 3.2rem;
  background-color: var(--lightBlue);
}
@media (max-width: 1399px) {
  .slide__description p:nth-child(3)::after {
    left: -1rem;
    height: 2.4rem;
  }
}
.slide__description img {
  max-width: 3rem;
  position: relative;
  margin: 0 1.4rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1399px) {
  .slide__description img {
    max-width: 2.2rem;
    margin: 0 0.8rem;
  }
}

.swiper-button-next,
.swiper-button-prev {
  width: 3rem;
  height: 3rem;
  background-color: var(--lightBlue);
  color: var(--black);
  position: absolute;
  top: 3.8rem;
  border-radius: 0.5rem;
  -webkit-transition: background-color, 0.2s linear;
  transition: background-color, 0.2s linear;
}
.swiper-button-next::after, .swiper-button-next::before,
.swiper-button-prev::after,
.swiper-button-prev::before {
  content: "";
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #1553cf;
}
@media (max-width: 650px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

.swiper-button-next {
  right: clamp(43rem, -33.7856rem + 51.19vw, 64.5rem);
}
@media (max-width: 1500px) {
  .swiper-button-next {
    right: 27rem;
  }
}
@media (max-width: 1300px) {
  .swiper-button-next {
    right: clamp(26rem, -14rem + 50vw, 51rem);
  }
}
@media (max-width: 800px) {
  .swiper-button-next {
    top: 2.7rem;
    right: clamp(25rem, -5.3328rem + 46.67vw, 32rem);
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }
}
.swiper-button-next::after {
  content: url(../images/images/slider/icons/row-right.svg);
  -webkit-transform: translateY(-12%);
      -ms-transform: translateY(-12%);
          transform: translateY(-12%);
}

.swiper-button-prev {
  left: clamp(43rem, -33.7856rem + 51.19vw, 64.5rem);
}
@media (max-width: 1500px) {
  .swiper-button-prev {
    left: 27rem;
  }
}
@media (max-width: 1300px) {
  .swiper-button-prev {
    left: clamp(26rem, -14rem + 50vw, 51rem);
  }
}
@media (max-width: 800px) {
  .swiper-button-prev {
    top: 2.7rem;
    left: clamp(25rem, -5.3328rem + 46.67vw, 32rem);
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }
}
.swiper-button-prev::after {
  content: url(../images/images/slider/icons/row.svg);
  -webkit-transform: translateY(-12%);
      -ms-transform: translateY(-12%);
          transform: translateY(-12%);
}

.slider .swiper-pagination-bullet {
  width: 1rem;
  height: 1rem;
  background-color: #304ceb;
}

/* Активная точка пагинации */
.swiper-pagination-bullet-active {
  background-color: rgb(4, 0, 255);
}