.header {

  width: calc(100vw - 33rem);
  // margin-left: auto;
  background-color: var(--indexBlue);
  z-index: 0;
  position: fixed;
  right: 0;

  &__content {
    margin-left: clamp(1rem, -44rem + 37.5vw, 8.5rem);
    max-width: 1890px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 5rem;

  }

  &__switch {
    position: relative;
    width: 5rem;
    height: 3rem;
    border-radius: 5rem;
    background-color: #D9D9D9;
    display: flex;
    margin-right: 114px;
    @media (max-width: 1400px) {
    margin-right: 2rem;

    }


    & div {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background-color: var(--black);
    }

    &::before {
      position: absolute;
      content: 'Night';
      right: 7rem;
      top: 50%;
      transform: translateY(-50%);
      color: var(--white);
    }
  }

}

.subnav {
  display: flex;
  flex-direction: column;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  padding: 2rem 2.6rem 1.8rem 2.6rem;
  border-radius: 0px 0px 1.2rem 1.2rem;
  background-color: var(--lightBlue);
  transition: all .2s linear;

  li a:not(:last-of-type) {
    margin-bottom: 1.6rem;
  }

  &__link {
    display: block;
    color: var(--white);
    font-family: "Arial";
    font-size: clamp(1.4rem, -1.112rem + 2vw, 1.8rem);
    margin-bottom: 1.6rem;
  }

}

.nav {
  

  &__list {
    display: flex;
    
  }

  &__item {
    transition: .2s color linear;
    & .subnav__link {
      transition: color .2s linear;
      &:hover {
        color: var(--black);
      }
    }

    &:hover {
      transition: all .2s linear;
  
      .subnav {
        transition: all .2s linear;
        color: var(--black);
        top: 5rem;
        opacity: 1;
        visibility: visible;
      }
      
    }
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    height: 5rem;
    padding: 0 clamp(1.8rem, -3rem + 4vw, 2.6rem);
    font-size: clamp(1.4rem, -1.112rem + 2vw, 1.8rem);
    font-family: 'Roboto';
    text-transform: uppercase;
    color: var(--white);
    transition: all .2s linear;

    

    &.has-subnav {
      padding-right: 30px;
      position: relative;

      &:hover {
        &::after {
          transform: rotate(180deg);
        }
      }

      &::after {
        position: absolute;
        right: 0;
        transition: all .2s linear;
        content: url(../images/logo/polygon.svg);
      }
    }

    &:hover {
      background-color: var(--lightBlue);
    }

  }
}




//? -----------------------------------------------------------------



@media (max-width: 1300px) {
  .header {
    width: 100%;
  }
}