.aside {
    // margin-top: 5rem;
		width: var(--sidebarWidth);
    min-height: 100vh;
    background-color: var(--sidebarColor);
    position: fixed;
    top: 0;
    box-shadow: 6px 0 4px rgba(0, 0, 0, 0.5);
    z-index: 100;

		&__content {
      width: 100%;
      height: auto;                                     
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
		}

    &__text {
      position: relative;
      margin: 7rem 1.5rem;
      color: var(--white);
      line-height: 1.2;
      text-align: center;
      // top: -7rem;

      &::after,
      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #3137C9;
      }

      &::after {
        bottom: -1.5rem;
        left: 0;
      }

      &::before {
        top: -1.5rem;
        left: 0;
      }
    }

    &__links {
      display: flex;
      // margin-top: 4rem;
    }

    &__link {
      &:not(:last-of-type) {
        margin-right: 3.3rem;
      }

      :hover {
        transition: all .3s linear;
        transform: rotate(360deg);
      }
    }

    @media (max-width: 1300px) {
      opacity: 0;
      visibility: hidden;
    }

  }


.head {
  position: relative;
  background-color: #3137C9;
  height: 230px;

  &__vector {
    position: absolute;
  }

  &__bg {

  }

}

.logo {

  position: relative;
  // border: 1px dashed red;
  display: flex;
  justify-content: center;
  top: -17rem;

  &__img {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #3137C9;

    img {
      max-width: 100%;
    }
  }

  &__title {
    position: absolute;
    bottom: -2rem;
    left: 0;
    padding: 1.2rem 2.4rem;
    background-color: rgba(217, 217, 217, 0.3);
  }

  &__subtitle {
    position: absolute;
    bottom: -6rem;
    right: 0;
    padding: 1.2rem .4rem;
    background-color: rgba(217, 217, 217, 0.3);
    color: #ffffff;
  }

}











@media (max-width: 650px) {
  
  .wrapper._active {

    .aside {
      width: 100%;
      opacity: 1;
      visibility: visible;
      z-index: 50;
      position: relative;
      box-shadow: none;
      

      &__content {

      }

      &__text {
        display: none;
      }

      &__links {

      }

    }

    .head {
      width: 100%;

      &__vector {
        display: none;
      }

      &__bg {
        width: 100%;
        height: 28rem;
        background-color: #3137C9;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .logo {

      position: relative;
      width: 29rem;
      height: auto;
      // border: 1px dashed red;
      display: flex;
      justify-content: flex-start;
      margin-top: 14rem;
      margin-left: 1rem;

      &__img {
        width: 9rem;
        height: 9rem;
      }

      &__title, 
      &__subtitle {
        position: absolute;
        display: inline;
        background-color: transparent;
        padding: 0;
        margin: 0;
        left: 12rem;
        font-family: 'Roboto';
      }

      &__title {
        top: 3rem;
        color: var(--white);
        font-size: 1.8rem;
      }

      &__subtitle {
        bottom: 0.5rem;
        color: #c4b9b9;
        font-size: 1.5rem;
      }
    }

  }

}