@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat);
}

@font-face {
  font-family: "Arial";
  src: url(../fonts/Arial);
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto);
}

*,
*::before,
*::after {
padding: 0;
margin: 0;
border: 0;
box-sizing: border-box;
}

a {
  text-decoration: none; 
  color: inherit; 
  display: flex;

  &:hover {
    cursor: pointer;
  }
}

ul, ol, li {list-style: none;}

img {
	// max-width: 100%;
	height: auto;
	display: block;
}

h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: inherit;}

input, textarea, button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

html,
body {
	height: 100%;
	line-height: 1;
  font-weight: 400;
	color: black;
	background-color: var(--backgroundColor);
  font-family: "Montserrat";
}

html {font-size: 62.5%;}
body {font-size: 1.6rem;}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}


/* Подключение шрифтов &display=swap&subject=syrillic-ext */
/* &display=swap —- Улучшает показатели (контролит порядок загрузки шрифтов), запись в конце строки, подключающей шрифты */
/* &subsect=syrillic-ext —— Для сайтов на кирилице */
