:root {
  --backgroundColor: #171717;
  --indexBlue: #05296E;
  --lightBlue: #1144AA;
  --darkenBlue: #29467F;
  --yellow: #FAFF00;
  --yelloeHeader: #FECD09;
  --sidebarColor: #0E0E0E;
  --white: #fff;
  --black: #000;
  --sidebarWidth: 33rem;
}

