:root {
  --backgroundColor: #171717;
  --indexBlue: #05296E;
  --lightBlue: #1144AA;
  --darkenBlue: #29467F;
  --yellow: #FAFF00;
  --yelloeHeader: #FECD09;
  --sidebarColor: #0E0E0E;
  --white: #fff;
  --black: #000;
  --sidebarWidth: 33rem;
}

.section {
  max-width: 1460px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 1.5rem;
  box-shadow: 
  -6px -6px 10px rgba(0, 0, 0, 0.25),
  6px 6px 10px rgba(0, 0, 0, 0.25);

  &:not(:last-of-type) {
    margin-bottom: 6.5rem;
  }
  transition: all .3s linear;
  &:hover {
    background-color: rgba(9, 9, 10, 0.5);
  }
}