:root {
  --backgroundColor: #171717;
  --indexBlue: #05296E;
  --lightBlue: #1144AA;
  --darkenBlue: #29467F;
  --yellow: #FAFF00;
  --yelloeHeader: #FECD09;
  --sidebarColor: #0E0E0E;
  --white: #fff;
  --black: #000;
  --sidebarWidth: 33rem;
}

.light {

  --backgroundColor: #D4DCF8;
  --sidebarColor: #1648a3;
  .header__switch {
    justify-content: flex-end;
    div {
      background-color: #FECD09;
    }

    &::before {
      content: 'Day';
      color: #FECD09;
    }
  }

  @media (max-width: 650px) {

    .header__switch {
      div {
        &::before {
          content: '';
        }
        &::after {
          content: 'Day';
        }
      }
    }
  }
  

  .aside__text {
    &::after {
      background-color: #000000;
    }
    &::before {
      background-color: #000000;
    }
  }

  .offer__title {
    color: #050f94;
    // font-weight: 600;
  }

  .offer__subtitle {
    color: #000;
  }

  .title {
    color: #000;
  }

  .paragraph {
    color: var(--black);
  }

}

.section {
  max-width: 1460px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 1.5rem;
  box-shadow: 
  -6px -6px 10px rgba(0, 0, 0, 0.25),
  6px 6px 10px rgba(0, 0, 0, 0.25);

  &:not(:last-of-type) {
    margin-bottom: 6.5rem;
  }

  transition: all .3s linear;
  &:hover {
    background-color: rgba(9, 9, 10, 0.5);
  }
}

@media (max-width: 650px) {
  #offer {
    margin-bottom: 12rem;
  } 
}