.offer {

  padding: 2.8rem 4.8rem;
  display: flex;
  justify-content: space-between;

  &__text {
    // max-width: 77.4rem;
    margin-right: 1rem;
    max-width: 56.74%;
  }

  &__title {
    font-size: 2.6rem;
    font-family: "Arial";
    color: #4575D4;
    line-height: 120%;
    margin-bottom: 4rem;
  }

  &__subtitle {
    color: var(--white);
    font-size: 2rem;
    line-height: 120%;
    font-weight: 400;
    font-family: "Montserrat";

    &:not(:last-of-type) {
      margin-bottom: 2.2rem;
    }
  }

  &__img {
    height: 100%;
    width: auto;
    border-radius: 2rem;
    overflow: hidden;
    background-color: #4575D4;
    display: flex;
    align-items: center;
    justify-content: center;
    
    img {
      object-fit: cover;
    }
  }
}