.sld {
  position: relative;
  h2 {
    position: absolute;
    top: 27px;
    left: 20%;
    transform: translateX(-25%);
    color: var(--lightBlue);
    font-size: 2rem;
    font-family: "Arial";
  }
  @media (max-width: 1300px) {
    padding: 0 4.8rem;
  }
}

.slider {
  position: relative;
  padding: 6rem 0rem;
  max-width: clamp(63.5rem, -58rem + 101.25vw, 136.4rem);

  display: flex;
  align-items: center;
  justify-content: center;

  &__wrapper {
    height: auto;
    display: flex;
    align-items: center;
    position: relative;
  }

  @media (max-width: 1300px) {
    max-width: 100%;
    // padding: 0 3rem;
  }

}
.slide {

  width: 644px;
  // height: 370px;
  background-color: rgb(69, 121, 219);
  overflow: hidden;
  display: flex;
  align-items: start;
  justify-content: center;
  border-radius: 2rem;
  
  &:hover {
    transition: all 5s linear;
    img {
      transition: all 8s linear;
      transform: scale(1.1);
    }
  }

  img {
    width: 100%;
  }


  &__description {
    
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgba(17, 68, 170, 0.5);
    height: 4.2rem;

    @media (max-width: 1399px) {
      height: 3rem;
    }

    & p:nth-child(1) {
      font-size: 1.6rem;
      color: #BFB8B8;
      margin-left: 2rem;
      margin-right: 1.4rem;
      position: relative;

      @media (max-width: 1399px) {
        font-size: 1.4rem;
      }

      &::after {
        position: absolute;
        content: '';
        top: 50%;
        transform: translateY(-50%);
        right: -1.4rem;
        width: 2px;
        height: 3.2rem;
        background-color: var(--lightBlue);
        @media (max-width: 1399px) {
          height: 2.4rem;
          right: -1rem;
        }
      }
    }

    & p:nth-child(3) {
      font-size: 1.2rem;
      color: var(--white);
      font-family: "Arial";
      margin-left: 1.4rem;
      letter-spacing: 1px;
      position: relative;

      @media (max-width: 1399px) {
        font-size: 1rem;
      }

      &::after {
        position: absolute;
        content: '';
        top: 50%;
        transform: translateY(-50%);
        left: -1.4rem;
        width: 2px;
        height: 3.2rem;
        background-color: var(--lightBlue);
        @media (max-width: 1399px) {
          left: -1rem;
          height: 2.4rem;
        }
      }
    }

    & img {
      max-width: 3rem;
      position: relative;
      margin: 0 1.4rem;
      // background-color: #BFB8B8;
      object-fit: cover;
      @media (max-width: 1399px) {
        max-width: 2.2rem;
        margin: 0 .8rem;
      }
    }

  }

}


.swiper-button-next, 
.swiper-button-prev {
  width: 3rem;
  height: 3rem;
  background-color: var(--lightBlue);
  color: var(--black);
  position: absolute;
  top: 3.8rem;
  border-radius: .5rem;
  &::after, 
  &::before {
    content: '';
  }
  transition: background-color, .2s linear;
  &:hover {
    background-color: lighten(rgba(17, 68, 170, 1), 8%);
  }

}

//! 430 645
.swiper-button-next {
  right: clamp(43rem, -33.7856rem + 51.19vw, 64.5rem);
  @media (max-width: 1500px) {
    right: 27rem;
  }

  @media (max-width: 1300px) {
    right: clamp(26rem, -14rem + 50vw, 51rem);
  }
  &::after {
  content: url(../images/images/slider/icons/row-right.svg);

  transform: translateY(-12%);

  }
}

.swiper-button-prev {
  left: clamp(43rem, -33.7856rem + 51.19vw, 64.5rem);
  @media (max-width: 1500px) {
    left: 27rem;
  }
  @media (max-width: 1300px) {
    left: clamp(26rem, -14rem + 50vw, 51rem);
  }
  &::after {
  content: url(../images/images/slider/icons/row.svg);
  transform: translateY(-12%);

  }
}

.slider .swiper-pagination-bullet {
  width: 1rem;
  height: 1rem;
  background-color: #304ceb;
}

/* Активная точка пагинации */
.swiper-pagination-bullet-active {
  background-color: rgb(4, 0, 255);
}