.slider {
  position: relative;
  h2 {
    position: absolute;
    top: 27px;
    left: 25%;
    transform: translateX(-25%);
    color: var(--lightBlue);
    font-size: 2rem;
  }

  height: 48.8rem;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 6rem 4.8rem;

  &__container {
    max-width: 100%;
    height: auto;
  }

}

.slider {
  // max-width: 1460px;

  &__container {
    max-width: 1460px;
    display: flex;
    justify-content: center;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between; // !!!!!!!!!!!!!!!!
  }

}

.slide {

  position: relative;
  max-width: 644px;
  width: 100%;
  max-height: 370px;
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;

  &__content-img {

  }

  &__description {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgba(17, 68, 170, 0.5);
    height: 4.2rem;

    & p:nth-child(1) {
      font-size: 1.4rem;
      color: #BFB8B8;
      margin-left: 2rem;
      margin-right: 1.4rem;
      position: relative;

      &::after {
        position: absolute;
        content: '';
        top: 50%;
        transform: translateY(-50%);
        right: -1.4rem;
        width: 2px;
        height: 3.2rem;
        background-color: var(--lightBlue);

      }
    }

    & p:nth-child(3) {
      font-size: 1.4rem;
      color: var(--white);
      font-family: "Montserrat";
      margin-left: 1.4rem;
      letter-spacing: 1px;
      position: relative;

      &::after {
        position: absolute;
        content: '';
        top: 50%;
        transform: translateY(-50%);
        left: -1.4rem;
        width: 2px;
        height: 3.2rem;
        background-color: var(--lightBlue);

      }
    }

    & img {
      max-width: 3rem;
      position: relative;
      margin: 0 1.4rem;
      // background-color: #BFB8B8;
      object-fit: cover;
    }

  }

}

// .swiper-button-next, .swiper-button-prev {
//   position: absolute;
//   top: 0;
  
// }

// .swiper-button-next,
// .swiper-button-prev {
//   position: absolute;

// }
